* text=auto

# Explicitly declare text files to make sure possible local wrong config
# of git does not override them on checkout
*.patch text eol=lf
*.bat text eol=crlf

# Binary files that should not be normalized
*.pdf binary
*.png binary
